/* --------------------------------------------------
Setting
-------------------------------------------------- */
/*
Color
html
- color
- font
- lineheight
a
- link
-------------------------------------------------- */
$colHtmlBG: #FFFFFF;
$colM: #000066;

html {
	background: $colHtmlBG;
	font-family: ;
}
a { cursor: pointer;}